<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>About Me</title>
    </head>
    <body>
         <h1>Welcome To My Life</h1>

         <h2>Where I Was Born</h2>
         <p> I was born in <strong>Pakistan</strong>, in the city of <em>Lahore</em>. It is a very beautiful country
            especially in the northern areas with a wide range of mountainous terrain and streams.</p>

         <p> My favorite places to visit were:</p>

         <ul>
             <li>Gadaffi Stadium</li>
             <li>Minari Pakistan</li>
             <li>Sahiwal</li>
         </ul>
          <!-- ul creates a bulleted list -->

         <h2>Growing Up</h2>
         <p>Growing up, I had a very busy schedule. When I did not have school, There were <em>alot</em> of
             activities to do after all school work was completed such as play cricket, or go on a street food run.
             <strong>I loved pakistani street food</strong></p>

         <p>My main activities were</p>

         <ol>
             <li>School</li>
             <li>Reading Classes</li>
             <li>Meet up with friends in the neighborhood</li>
             <li>Go out to eat at various places</li>
         </ol>
          <!-- This creates a numbered list -->


         <h3>American College Life</h3>
         <p>I am now currently enrolled at UMD in America so Pakistan's life is behind me. I am taking alot of
         classes here.Some of the classes I have taken and in which semester are below.</p>
         <table>
             <tr>
                 <th>Course</th>
                 <th>Semester Taken</th>
             </tr>
             <tr>
                 <td>BMGT302 | </td>
                 <td>Fall 2022</td>
             </tr>
             <tr>
                 <td>BMGT495 | </td>
                 <td>Winter 2022</td>
             </tr>
             <tr>
                 <td>PSYC100 | </td>
                 <td>Fall 2020</td>
             </tr>
         </table>

    <p>A link to <a href=/hello >Hello World</a>.</p>
    <p>A link to <a href="https://www.youtube.com/" >Youtube</a>.</p>
    <p>A link to <a href="https://www.amazon.com/" target = "_blank">Amazon</a>.</p>
         <!-- The target = "_blank" indicates that it will open in a new tab -->

    <p>Here is a picture to my schools logo:</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="UMD Logo" width = "267" height="72"  >

    </body>
</html>